<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <h3>About Us</h3>
      <p>
        The website is an online platform dedicated to buying plants, offering a wide variety of greenery for all types of gardening enthusiasts. From vibrant indoor plants to elegant outdoor shrubs, the website provides a user-friendly interface for browsing and purchasing plants. With detailed descriptions, care instructions, and high-quality images, customers can easily explore different plant options, compare prices, and make informed choices. Additionally, the website may offer personalized recommendations, gardening tips, and a seamless checkout process, ensuring a delightful and convenient shopping experience for plant lovers of all levels of expertise.
      </p>
    </div>
  </header>
</section>
